# Ignorar arquivos do Python e Django
*.pyc
__pycache__/
*.log
db.sqlite3
media/
staticfiles/

# Ignorar ambientes virtuais
venv/
env/

# Ignorar variáveis de ambiente
.env

# Ignorar arquivos do Node.js
node_modules/
dist/

# Ignorar arquivos específicos de IDEs
.vscode/
.idea/

# Ignorar arquivos de sistema
.DS_Store
Thumbs.db
